.place-card__like-counter {
    margin-top: 3px;

    width: 13px;
    height: 9px;

    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;

    color: #000000;
}